body{
	background-color: green;
	margin: 0px;
}
fieldset{
	background-color: lightgreen;
}
.halfCol{
	width: 100%;
	display: block;
}
@media screen and (min-width: 510px){
	.halfCol{
	width: 49.5%;
	display: inline-block;
}
}
p{
	display: inline-block;
}
h3{
	display: inline-block;
}
h2{
	display: inline-block;
}
legend{
	font-size: 34px;
	font-weight: bold;
}
.diceSlot{
	display: inline-block;
}
.diceSlot p{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	transform: translate(0, -130%);
	font-size: 38px;
	font-weight: bold;
	transform-origin: center; 
	transform :rotate(180deg);
}
#player1Tray h2{
	color: blue;
}
#player2Tray h2{
	color: red;
}
.diceTrayDisplay{
	display: inline;
	font-size: 23px;
}
#player1Tray .diceTrayDisplay{
	color: blue;
}
#player2Tray .diceTrayDisplay{
	color: red;
}
#player1Tray fieldset{
	border-color: lightblue;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
}
#player2Tray fieldset{
	border-color: pink;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
}
.diceButton{
	border-radius: none;
	color: white;
	background-color: darkgreen;
	border: none;
}
#player1Tray .betButton{
	border-radius: none;
	color: white;
	background-color: blue;
	border: none;
}
#player2Tray .betButton{
	border-radius: none;
	color: white;
	background-color: red;
	border: none;
}
.betButton{
	height: 25px;
}
.betInput{
	width: 45px;
	height: 25px;
	font-size: 21px;
	background-color: lightgreen;

}
.diceSlot{
	font-family: "Times New Roman", Times, serif;
	border: 2px;
	border-color: white;
	border-style: solid;
}
.playerSlot p{
	transform: translate(0,-75%);
}
.boardSlot p{
	transform: translate(0,-75%);
}
@media screen and (min-width: 510px){
	.playerSlot p{
	transform: translate(0,-100%);
}
.boardSlot p{
	transform: translate(0,-165%);
}
}
.boardSlot{
	margin-top: 5%;
	width: 18%;
	padding-top: 18%;
	display: inline-block;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: white;

}
.p1DiceSlot{
	background-color: lightblue;
	margin-top: 22%%;
	width: 18%;
	padding-top: 18%;
	display: inline-block;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: white;


}
.p2DiceSlot{
	background-color: pink;
	margin-top: 22%;
	width: 18%;
	padding-top: 18%;
	display: inline-block;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: white;

}
.flopSlot{
	background-color: lightgreen;
}
.turnSlot{
	background-color: darkgreen;
}
.riverSlot{
	background-color: darkgreen;
}
.row{
	text-align: center;
	margin-top: 0px;
}
.col3{
	width: 33%;
	height: 45px;
	display: inline-block;
	margin: 0px;
}
.potDisplay{
	width: 100%;
	text-align: center;
}
#potContainer{
	text-align: center;
}
#startContainer{
	margin-top: 5%;
}
.textDisplay{
	width: 100%;
	margin-top: 1%;
	color: yellow;
	font-size: 40px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
.toCall{
	width: 100%;
	margin-top: 1%;
	color: yellow;
	font-size: 40px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
